<style>
  .explore{
    margin-right: 2rem; /* reduced so center looks balanced */
  }
  .navbar{
      height: 5rem;
      background-color: white;
  }
  .fa-compass{
      color: #fe424d;
      font-size: 2rem;
  }
  .nav-link{
      color: #222222 !important;
  }  
  .search-btn{
      background-color: #fe424d;
      color: white;
      border-radius: 25px;
      padding: 0 1rem;
  }
  .search-btn:hover{
      background-color: #ff444d;
      color: white;
  }
  .search-btn i{
      display: inline;
      margin-right: 0.5rem;
  }
  .search-input{
      border-radius: 25px;
      padding: 0.5rem 3rem;
      width: 100%;        /* mobile me full width */
      max-width: 400px;
  }
  /* Center the search form always */
  .navbar .search-form {
      flex-grow: 1;
      display: flex;
      justify-content: center;
  }
  .pfp-img-nav{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
  }
</style>
  
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand ms-3" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Hamburger -->
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsed/Expanded content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 align-items-center">
        
        <!-- LEFT SIDE -->
        <li class="nav-item explore">
          <a class="nav-link" href="/listings">Explore</a>
        </li>

        <!-- SEARCH (centered always) -->
        <li class="nav-item flex-grow-1">
          <form class="d-flex search-form" role="search" action="/listings/searchresults">
            <input class="form-control me-2 search-input" type="search" name="q" 
                   placeholder="Search destinations" aria-label="Search"
                   value="<%= typeof query !== 'undefined' ? query : '' %>"/>
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search
            </button>
          </form>
        </li>

        <!-- RIGHT SIDE -->
        <li class="nav-item ms-md-auto me-2">
          <a class="nav-link" href="/listings/new">StayQuest your home</a>
        </li>

        <% if(currUser){ %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="/profile" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if(currUser.pfp.url){ %>
                <img class="pfp-img-nav" src="<%=currUser.pfp.url  %>">
                <% }else{ %>
                  <img src="https://i.pinimg.com/1200x/f3/23/33/f323338233ea1ef3e83ad205919f7a3a.jpg" alt="User profile picture" class="pfp-img-nav">
                  <% } %>
             
              <span class="ms-1"><%= currUser.username %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
              <li><a class="dropdown-item" href="/profile/<%= currUser._id %>">My Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="guestMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user-circle fa-lg "></i>
              <span class="ms-1">Account</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="guestMenu">
              <li><a class="dropdown-item" href="/signup">Sign up</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
            </ul>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
