<% layout("/layouts/boilerplate") %>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter-icon a{
    text-decoration: none;
    color: black;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.9rem;
  }
</style>
    <!-- <div class="mt-3">
      <h1>All Listing</h1>
     
    </div> -->
    
    <div id="filters">
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Trending"><i class="fa-solid fa-fire"></i></a></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Rooms"><i class="fa-solid fa-bed"></i></a></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Iconic City"><i class="fa-solid fa-mountain-city"></i></a></div>
        <p>Iconic City</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Mountain"><i class="fa-solid fa-mountain"></i></a></div>
        <p>Mountain</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Castles"><i class="fa-brands fa-fort-awesome"></i></a></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Amazing pools"><i class="fa-solid fa-person-swimming"></i></a></div>
        <p>Amazing pools</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Camping"><i class="fa-solid fa-campground"></i></a></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Farms"><i class="fa-solid fa-cow"></i></a></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div class="filter-icon"><a href="/listings/filters/Arctic"><i class="fa-solid fa-snowflake"></i></a></div>
        <p>Arctic</p>
      </div>
    </div>
    <div class="mt-3"><h4 ><i>Explore All Our Listings  <i class="fa-jelly fa-solid fa-arrow-right"></i></i></h4></div>
    <!-- <button><a href="/listings/new">Create new</a></button> -->
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(listing of allListing){  %>
            <a href="/listings/<%= listing._id %>" style="text-decoration: none;">
                <div class="card listing-card" >
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%=listing.title%></b>
                        <br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %> for 2 night
                      </p>
                    </div>
                  </div>
            </a>
              <% } %>
     </div>   

