<% layout("/layouts/boilerplate") %>
<style >
    .btn-outline-danger-black {
    color: black;            /* override red text */
    border: 1px solid black;  
    border-radius: 1rem;     /* keep red border */
  }

  .btn-outline-danger-black:hover {
    color: white;            
    background-color: #fe424d;   
    border-color: #fe424d;
  }
  .dropdown-menu li {
    margin-bottom: 5px;
  }
</style>
    
    <div class="row">
        <div class="col-8 offset-2">
        <br>
        <h1>Create a New Listing</h1>
        <br>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <!-- listing object bnarhe h uske andar ki keys daalrhe h different different idher  -->
                 <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                required>
                <div class="valid-feedback">
                    Title looks good!
                  </div>
                  <div class="invalid-feedback">
                    Enter a valid title
                  </div>
                 </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea  name="listing[description]" class="form-control" placeholder="Enter Description"
                    required></textarea>
                      <div class="invalid-feedback">
                        Enter a valid Description
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Categories</label>
                    <div class="dropdown">
                      <button class="btn-outline-danger-black w-100 dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Categories
                      </button>
                      <ul class="dropdown-menu p-3" aria-labelledby="categoriesDropdown">
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Trending" id="catTrending" name="listing[categories][]">
                            <label class="form-check-label" for="catTrending">Trending</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Rooms" id="catRooms" name="listing[categories][]">
                            <label class="form-check-label" for="catRooms">Rooms</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Iconic City" id="catIconicCity" name="listing[categories][]">
                            <label class="form-check-label" for="catIconicCity">Iconic City</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Mountain" id="catMountain" name="listing[categories][]">
                            <label class="form-check-label" for="catMountain">Mountain</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Castles" id="catCastles" name="listing[categories][]">
                            <label class="form-check-label" for="catCastles">Castles</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Amazing pools" id="catPools" name="listing[categories][]">
                            <label class="form-check-label" for="catPools">Amazing pools</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Camping" id="catCamping" name="listing[categories][]">
                            <label class="form-check-label" for="catCamping">Camping</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Farms" id="catFarms" name="listing[categories][]">
                            <label class="form-check-label" for="catFarms">Farms</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Arctic" id="catArctic" name="listing[categories][]">
                            <label class="form-check-label" for="catArctic">Arctic</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Spa" id="catSpa" name="listing[categories][]">
                            <label class="form-check-label" for="catSpa">Spa</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Gaming" id="catGaming" name="listing[categories][]">
                            <label class="form-check-label" for="catGaming">Gaming</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Monument" id="catMonument" name="listing[categories][]">
                            <label class="form-check-label" for="catMonument">Monument</label>
                          </div>
                        </li>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Hotel" id="catHotel" name="listing[categories][]">
                            <label class="form-check-label" for="catHotel">Hotel</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="invalid-feedback">
                      Select at least one category
                    </div>
                  </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing image</label>
                    <input id="image" name="listing[image]" type="file" placeholder="Enter Image URL/Link" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" class="form-control" placeholder="1500"
                        required>
                        <div class="invalid-feedback">
                            Enter a valid Price
                        </div>
                    </div>
                    <div class="mb-4 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" name="listing[location]" type="text" placeholder="Mathura, Uttar pradesh" required>
                        <div class="invalid-feedback">
                            Enter a valid Location
                        </div>
                    </div>
                    
                </div>
                <div class="mb-3 ">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" name="listing[country]" type="text" placeholder="India"
                    required>
                    <div class="invalid-feedback">
                        Enter a valid Country
                      </div>
                </div>
                
                <button class="btn btn-dark add-btn">Add</button>
                <br>
                <br>
            </form>
        </div>   
    </div>

